@media screen and (min-width:950px) {
    
    .skills{
        display: flex;
        width: 50%;
        height: 100%;
        margin: 0px;
        justify-content: space-around;
    }
    .job{
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    .job-js
    {
        width: 40%;
    }
    .skills{
        width: 45%;
    }
    .logo{
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50px;
        left: 2%;
    }
    .none{
        display: none;
    }
    .show{
        display: flex;
    }
    .delete:hover{
        background-color: black;
        color: #fff;
    }
    .delete:hover img{
        color: #fff;
    }
    .footer{
        height: 8%;

    }
    .footer p{
        font-size: 12px;

    }
    .social-media{
        width: 80%;
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
    
    }
    .social-media img{
        width: 25px;
        height: 25px;
        padding-bottom: 4px;
    
    }
    
    

}