*{
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    transition: all 0.4s ease;
}

:root{
    --darkGrayishCyan: hsl(180, 8%, 52%);
    --lightGrayishCyan :hsl(180, 52%, 96%);
    --lightGrayishCyan2 : hsl(180, 31%, 95%);
    --veryDarkGrayishCyan: hsl(180, 14%, 20%);
    -mainColor:#5ba4a4;
}
body{
    background-color: var(--lightGrayishCyan2);
}


header{
  background-color: #5ba4a4;
  background-image: url(../images/bg-header-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin-bottom: 70px;
  position: relative;
  width: 100%;
}

.container{
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    flex-direction: column;
}

.filters{
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px;
    position: absolute;
    top: 165px;
    width: 82%;
    background-color: #fff;
    box-shadow: 0px 0px 10px #5ba4a4;
   
    
}
#filter-picked{
    width: 99%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.skill-selected{
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGrayishCyan);
    color:#5ba4a4;
    font-weight: 700;
    padding: 0px 0px 0px 7px;
}
.delete{
    height: 100%;
    padding: 3px 5px;
    border: 0;
    background-color: #5ba4a4;
    color: white;
    font-size: 12px;
    font-weight: 700;
    margin-left: 5px;
    
}

.delete img{
    width: 10px;
    height: 100%;
    fill: white;
}


.clear-button{
    border: 0;
    background-color: transparent;
    color: #5ba4a4;
    font-weight: 700;
}
.clear-button:hover{
    border-bottom: 1px solid #5ba4a4;
}

.jobs{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
   
  
}


.job{
    width: 90%;
    background-color: white;
    padding: 20px;
    margin-bottom: 35px;
    box-shadow: 0px 0px 10px #5ba4a4;
    position: relative;
}
.job:first-child{
    border-left: 5px solid hsl(180, 29%, 50%);
}
.job:nth-child(2){
    border-left: 5px solid hsl(180, 29%, 50%);
}
.about{
    display: flex;
    justify-content: space-between;
    margin:20px 0 14px 0;
    width: 200px;
   
    

}
.logo{
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 43;
    top: -20px;
   

}
.about div{
    margin-right: 4px;
}
.company{
    color: #708d8d;
    font-weight: 700;
    padding-top: 3px;
}
.new{
    background-color:#5ba4a4;
    border-radius: 12px;
    color: var(--lightGrayishCyan);
    font-size: 12px;
    padding: 4px 7px;
}
.ft{
    background-color: var(--veryDarkGrayishCyan);
    border-radius: 12px;
    color: var(--lightGrayishCyan);
    font-size: 12px;
    padding: 4px 9px;

}




.job p{
    color: var(--veryDarkGrayishCyan);
    font-weight: 600;
    
}

.third-info{
    display: flex;
    justify-content: space-between;
    margin: 14px 0 14px 0;
    width: 210px;
   
}
.font-prop{
    color: var(--darkGrayishCyan);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.skills{
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 90%;
}

.skill{
    background-color: var(--lightGrayishCyan);
    color:#5ba4a4;
    display: inline-block;
    font-weight: 700;
    height: 20px;
    line-height: 2px;
    margin: 10px 5px;
    padding: 15px 10px;
    text-align: center;
}
.skill:hover{
    color: white;
    background-color: #5ba4a4;
}

.none{
    display: none;
}
.show{
    display: block;
}
.showbox{
    display: flex;
}
.footer{
    position: absolute;
    width: 100%;
    height: 7%;
    background-color: #5ba4a4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer p{
    font-size: 10px;
    color: white ;
}
.social-media{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5px;
    padding-top: 8px;
}
.social-media img{
    width: 18px;
    height: 18px;
}

    

